In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

age = pd.DataFrame({'age' : [28,31,30,25,46,34,36,23,23,23,27,24,24,33,33,33, 80] })
print (age)

age.plot(kind='box')

plt.vlines(age.mean(),     # Plot black line at mean
          ymin=0,
          ymax=0.045,
          linewidth=1.0)

plt.vlines(age.median(),   # Plot red line at median
          ymin=0,
          ymax=0.045,
          linewidth=1.0,
          color="red")

age.describe()

    age
0    28
1    31
2    30
3    25
4    46
5    34
6    36
7    23
8    23
9    23
10   27
11   24
12   24
13   33
14   33
15   33
16   80

             age
count  17.000000
mean   32.529412
std    13.657039
min    23.000000
25%    24.000000
50%    30.000000
75%    33.000000
max    80.000000