# DS-SF-30 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`). Read the dataset dataset-02-ozone.csv found in the data folder `../data/dataset-02-ozone.csv`

In [1]:
import os
import pandas as pd
import numpy as np

# TODO

df = pd.read_csv("../data/dataset-02-ozone.csv")

> ## Question 2.  Display a few lines of the dataset to the screen.

In [2]:
# TODO
df.iloc[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [3]:
# TODO
df.shape
max(df.index) + 1

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [4]:
# TODO
cols = df.columns.values
for col in cols:
    print(col)

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [5]:
# TODO
len(df.columns.values)
df.shape[1]

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [6]:
# TODO
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [7]:
# TODO
df.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [8]:
# TODO
df['Ozone'].iloc[46]
df.iloc[46,0]

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [9]:
# TODO
df['Ozone'].isnull().sum()

37

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [10]:
# TODO
df.Ozone.mean()

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [11]:
# TODO
solar = df[(df.Ozone>31) & (df.Temp>90)]
solar

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [12]:
# TODO
solar['Solar.R'].mean()

212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [27]:
# TODO
mo = df[(df.Month==6)]
mo.Temp.mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [31]:
# TODO
zam = df[(df.Month=="May")]
zam.Ozone.max()

168.0