# DS-SF-30 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`). Read the dataset dataset-02-ozone.csv found in the data folder `../data/dataset-02-ozone.csv`

In [1]:
import pandas as pd

In [2]:
import os
df = pd.read_csv('~/Desktop/Knowledge/Coding/DS-GA/DS-SF-33/lessons/02/data/dataset-02-ozone.csv')

> ## Question 2.  Display a few lines of the dataset to the screen.

In [3]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [4]:
# the shape of the data set is a way to look row and column count
df.shape[0]

153

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [5]:
for column in df.columns:
    print(column)

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [6]:
# the shape of the data set is a way to look row and column count
# or len(df.columns)
df.shape[1]

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [7]:
# or df.iloc[:2]
df.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [8]:
df.tail(2)
# or df.iloc[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [9]:
# remember, we count from 0
df.iloc[46]['Ozone']

21.0

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [10]:
# isnull creates a filtered view, 
# then we select the Ozone column
# count the num rows resulting from those two operation
df[df['Ozone'].isnull()]['Ozone'].count()

0

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [11]:
df['Ozone'].mean(skipna=True)

42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [12]:
filtered_df = df.mask(df.Ozone.notnull()>31).mask(df.Temp.notnull()> 90)

In [13]:
filtered_df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [14]:
filtered_df['Solar.R'].mean()

185.93150684931507

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [15]:
df[df.Month == 6]['Temp'].mean()

79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [16]:
df[df.Month == 5]['Ozone'].max()

115.0