# DS-SF-30 | Unit Project 3: Machine Learning Modeling

In this project, you will perform a logistic regression on the admissions data we've been working with in Unit Projects 1 and 2.

In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

import statsmodels.formula.api as smf

from sklearn import linear_model

In [2]:
'''Get the data'''
df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))
## Put the data in DataFrame df
# Use pandas pd
# Read data in file
# os.path sets the settings for the next command
# Join puts the list of strings together according to os.path - in this case, with '/' between strings

df.dropna(inplace = True)
# Sets all n/a values to TRUE

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[397 rows x 4 columns]

## Part A.  Frequency Table

> ### Question 1.  Create a frequency table for `prestige` and whether an applicant was admitted.

In [3]:
# Cross-tabulates a count of students according to the prestige of their schools with their admittance value
pd.crosstab(df.prestige,df.admit)

admit      0   1
prestige
1.0       28  33
2.0       95  53
3.0       93  28
4.0       55  12

In [4]:
# Margins adds all values by row and column
pd.crosstab(df.prestige,df.admit, margins = True)

admit       0    1  All
prestige
1.0        28   33   61
2.0        95   53  148
3.0        93   28  121
4.0        55   12   67
All       271  126  397

In [5]:
# Normalizes over all possibilities - % of total students
# Takes numbers in the table and divides them by total population "ALL"
pd.crosstab(df.prestige,df.admit,normalize=True,margins=True)

admit            0         1       All
prestige
1.0       0.070529  0.083123  0.153652
2.0       0.239295  0.133501  0.372796
3.0       0.234257  0.070529  0.304786
4.0       0.138539  0.030227  0.168766
All       0.682620  0.317380  1.000000

In [6]:
# Normalizes over admittance - sums probabilities
# Bottom values in crosstab margins
pd.crosstab(df.prestige,df.admit,normalize=True).sum()

admit
0    0.68262
1    0.31738
dtype: float64

In [7]:
# Normalizes within rows - proportional probabilities within indices
# Proportion of admittance rates within each prestige level
pd.crosstab(df.prestige,df.admit,normalize='index')

admit            0         1
prestige
1.0       0.459016  0.540984
2.0       0.641892  0.358108
3.0       0.768595  0.231405
4.0       0.820896  0.179104

## Part B.  Variable Transformations

> ### Question 2.  Create a one-hot encoding for `prestige`.

In [8]:
# One-hot means get dummies
tmp = pd.get_dummies(df.prestige)
tmp
tmp.loc[:,4.0]

0      0
1      0
2      0
3      1
4      1
      ..
395    0
396    0
397    0
398    0
399    0
Name: 4.0, dtype: uint8

In [9]:
# Recasting prestige as int
df.prestige = df.prestige.astype(int)
df

     admit    gre   gpa  prestige
0        0  380.0  3.61         3
1        1  660.0  3.67         3
2        1  800.0  4.00         1
3        1  640.0  3.19         4
4        0  520.0  2.93         4
..     ...    ...   ...       ...
395      0  620.0  4.00         2
396      0  560.0  3.04         3
397      0  460.0  2.63         2
398      0  700.0  3.65         2
399      0  600.0  3.89         3

[397 rows x 4 columns]

In [10]:
# Create dummies with prefix prestige, applying each value of prestige to a new dummy variable
one_hot = pd.get_dummies(df.prestige, prefix = 'prestige')
one_hot

     prestige_1  prestige_2  prestige_3  prestige_4
0             0           0           1           0
1             0           0           1           0
2             1           0           0           0
3             0           0           0           1
4             0           0           0           1
..          ...         ...         ...         ...
395           0           1           0           0
396           0           0           1           0
397           0           1           0           0
398           0           1           0           0
399           0           0           1           0

[397 rows x 4 columns]

In [11]:
# Set the new dummy variables as columns in the DataFrame
df = df.join(one_hot)
df

,admit,gre,gpa,prestige,prestige_1,prestige_2,prestige_3,prestige_4
0,0,380.0,3.61,3,0,0,1,0
1,1,660.0,3.67,3,0,0,1,0
2,1,800.0,4.00,1,1,0,0,0
3,1,640.0,3.19,4,0,0,0,1
4,0,520.0,2.93,4,0,0,0,1
...,...,...,...,...,...,...,...,...
395,0,620.0,4.00,2,0,1,0,0
396,0,560.0,3.04,3,0,0,1,0
397,0,460.0,2.63,2,0,1,0,0
398,0,700.0,3.65,2,0,1,0,0
399,0,600.0,3.89,3,0,0,1,0

> ### Question 3.  How many of these "one-hot"/dummy binary variables do we need for modeling?

Answer: Three (n-1)

> ### Question 4.  Why are we doing this?

Answer: To be able to make calculations with each prestige level as a segregated column

> ### Question 5.  Add all these binary variables in the dataset and remove the now redundant `prestige` feature.

In [12]:
# TODO
df.drop('prestige', inplace=True, axis = 1)
df

     admit    gre   gpa  prestige_1  prestige_2  prestige_3  prestige_4
0        0  380.0  3.61           0           0           1           0
1        1  660.0  3.67           0           0           1           0
2        1  800.0  4.00           1           0           0           0
3        1  640.0  3.19           0           0           0           1
4        0  520.0  2.93           0           0           0           1
..     ...    ...   ...         ...         ...         ...         ...
395      0  620.0  4.00           0           1           0           0
396      0  560.0  3.04           0           0           1           0
397      0  460.0  2.63           0           1           0           0
398      0  700.0  3.65           0           1           0           0
399      0  600.0  3.89           0           0           1           0

[397 rows x 7 columns]

## Part C.  Hand calculating odds ratios

Let's develop our intuition about expected outcomes by hand calculating odds ratios.

> ### Question 6.  Create a frequency table for `prestige = 1` and whether an applicant was admitted.

In [13]:
# TODO
df2 = df[['admit','prestige_1']]
df2
pd.crosstab(df2.prestige_1, df2.admit,normalize='index')

admit              0         1
prestige_1
0           0.723214  0.276786
1           0.459016  0.540984

In [14]:
df22 = df[['admit','prestige_1']][df.prestige_1 == 1]
pd.crosstab(df22.prestige_1,df22.admit)

admit        0   1
prestige_1
1           28  33

In [15]:
df3 = df[df.prestige_1==1]
df3

     admit    gre   gpa  prestige_1  prestige_2  prestige_3  prestige_4
2        1  800.0  4.00           1           0           0           0
6        1  560.0  2.98           1           0           0           0
11       0  440.0  3.22           1           0           0           0
12       1  760.0  4.00           1           0           0           0
14       1  700.0  4.00           1           0           0           0
..     ...    ...   ...         ...         ...         ...         ...
368      0  580.0  4.00           1           0           0           0
372      1  680.0  2.42           1           0           0           0
373      1  620.0  3.37           1           0           0           0
383      0  660.0  4.00           1           0           0           0
385      0  420.0  3.02           1           0           0           0

[61 rows x 7 columns]

> ### Question 7.  Use the frequency table above to calculate the odds of being admitted to graduate school for applicants that attended the most prestigious undergraduate schools.

In [16]:
# TODO
tst = pd.crosstab(df2.prestige_1, df2.admit,normalize='index')
tst

admit              0         1
prestige_1
0           0.723214  0.276786
1           0.459016  0.540984

In [17]:
p = tst.loc[1,1]
p

0.54098360655737709

In [18]:
odds_1 = p / (1-p)
odds_1

1.1785714285714288

> ### Question 8.  Now calculate the odds of admission for undergraduates who did not attend a #1 ranked college.

In [19]:
df2 = df[['admit','prestige_1']]
df2

     admit  prestige_1
0        0           0
1        1           0
2        1           1
3        1           0
4        0           0
..     ...         ...
395      0           0
396      0           0
397      0           0
398      0           0
399      0           0

[397 rows x 2 columns]

In [20]:
pd.crosstab(df2.prestige_1, df2.admit,normalize='index')
p = tst.loc[0,1]
p

0.2767857142857143

In [21]:
odds_0 = p / (1-p)
odds_0

0.38271604938271608

> ### Question 9.  Finally, what's the odds ratio?

In [22]:
# TODO 
odds_1/odds_0

3.0794930875576041

> ### Question 10.  Write this finding in a sentence.

Answer: There is a 3x chance of getting into the university if you are in a top school, as compared to not being in a top school.

> ### Question 11.  Use the frequency table above to calculate the odds of being admitted to graduate school for applicants that attended the least prestigious undergraduate schools.  Then calculate their odds ratio of being admitted to UCLA.  Finally, write this finding in a sentence.

In [23]:
# TODO
dfbad = df[['admit','prestige_4']]
dfbad

     admit  prestige_4
0        0           0
1        1           0
2        1           0
3        1           1
4        0           1
..     ...         ...
395      0           0
396      0           0
397      0           0
398      0           0
399      0           0

[397 rows x 2 columns]

In [24]:
tst = pd.crosstab(dfbad.prestige_4, dfbad.admit,normalize='index')
tst

admit              0         1
prestige_4
0           0.654545  0.345455
1           0.820896  0.179104

In [25]:
p = tst.loc[1,1]
p

0.17910447761194029

In [26]:
odds_1 = p / (1-p)
odds_1

0.21818181818181817

Answer: Students who came from the least prestigious schools have a 22% chance of getting in UCLA.

## Part C. Analysis using `statsmodels`

> ### Question 12.  Fit a logistic regression model predicting admission into UCLA using `gre`, `gpa`, and the `prestige` of the undergraduate schools.  Use the highest prestige undergraduate schools as your reference point.

In [27]:
# 
import statsmodels.api as sm
formula = "admit ~ gre+gpa +prestige_2+prestige_3+prestige_4"
df['const'] = 1
model = sm.Logit(df['admit'],df[['gre','gpa','prestige_2','prestige_3','prestige_4','const']])
result = model.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

In [28]:
print(result.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Sat, 22 Apr 2017   Pseudo R-squ.:                 0.08166
Time:                        13:10:04   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
gre            0.0022      0.001      2.028      0.043      7.44e-05     0.004
gpa            0.7793      0.333      2.344      0.019         0.128     1.431
prestige_2    -0.6801      0.317     -2.146      0.032        -1.301    -0.059
prestige_3    -1.3387      0.345     -3.882      0.000        -2.015    -0.663
prestige_4    -1.5534      0.417     -3.721      0.000        -2.372    -0.735
const         -3.8769      1.142     -3.393      0.001        -6.116    -1.638
==============================================================================

In [29]:
formula = "admit ~ gre+gpa +prestige_2+prestige_3+prestige_4"
df['const'] = 1
model = smf.glm(formula = formula,data = df,family = sm.families.Binomial())
result = model.fit()

> ### Question 13.  Print the model's summary results.

In [30]:
# TODO
print(result.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                            GLM   Df Residuals:                      391
Model Family:                Binomial   Df Model:                            5
Link Function:                  logit   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                -227.82
Date:                Sat, 22 Apr 2017   Deviance:                       455.64
Time:                        13:10:04   Pearson chi2:                     394.
No. Iterations:                     6
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept     -3.8769      1.142     -3.393      0.001        -6.116    -1.638
gre            0.0022      0.001      2.028      0.043      7.44e-05     0.004
gpa            0.7793      0.333      2.344      0.019         0.128     1.431
prestige_2    -0.6801      0.317     -2.146      0.032        -1.301    -0.059
prestige_3    -1.3387      0.345     -3.882      0.000        -2.015    -0.663
prestige_4    -1.5534      0.417     -3.721      0.000        -2.372    -0.735
==============================================================================

> ### Question 14.  What are the odds ratios of the different features and their 95% confidence intervals?

In [31]:
# TODO
print("coefficients")
print(result.params)
print(np.exp(result.params))

coefficients
Intercept    -3.876854
gre           0.002218
gpa           0.779337
prestige_2   -0.680137
prestige_3   -1.338677
prestige_4   -1.553411
dtype: float64
Intercept     0.020716
gre           1.002221
gpa           2.180027
prestige_2    0.506548
prestige_3    0.262192
prestige_4    0.211525
dtype: float64

> ### Question 15.  Interpret the odds ratio for `prestige = 2`.

Answer:

> ### Question 16.  Interpret the odds ratio of `gpa`.

Answer:

> ### Question 17.  Assuming a student with a GRE of 800 and a GPA of 4.  What is his/her probability of admission  if he/she come from a tier-1, tier-2, tier-3, or tier-4 undergraduate school?

In [38]:
indeces = ['gre','gpa','prestige_2','prestige_3','prestige_4','Intercept']
test = pd.Series(data = [800,4,0,0,0,1], index = indeces)
test_df = test.to_frame().T
model.predict(test_df[indeces])

ValueError: shapes (397,6) and (1,6) not aligned: 6 (dim 1) != 1 (dim 0)

## Part D. Moving the model from `statsmodels` to `sklearn`

> ### Question 18.  Let's assume we are satisfied with our model.  Remodel it (same features) using `sklearn`.  When creating the logistic regression model with `LogisticRegression(C = 10 ** 2)`.

In [ ]:
# TODO
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression(C=10**2)
lm

In [ ]:
x= df[['gre','gpa','prestige_2','prestige_3','prestige_4']]
y= df['admit']
lm.fit(x,y)

> ### Question 19.  What are the odds ratios for the different variables and how do they compare with the odds ratios calculated with `statsmodels`?

In [ ]:
dat = pd.DataFrame(data = lm.coef_)
dat.columns = x.columns
dat = dat.T
dat.columns = ['coef']
dat['odds_ratio'] = dat.coef.apply(np.exp)
dat.head()
#np.exp(lm.coef_)

In [ ]:
# TODO

Answer:

> ### Question 20.  Again, assuming a student with a GRE of 800 and a GPA of 4.  What is his/her probability of admission  if he/she come from a tier-1, tier-2, tier-3, or tier-4 undergraduate school?

In [ ]:
# TODO
sample = pd.DataFrame.from_dict({'gre':800,'gpa':4.0,'prestige_2':1,'prestige_3':0,'prestige_4':0},orient = 'index')
sample = sample.T
predictions = lm.predict_proba(sample)
print(predictions)
print(lm.predict(sample))

In [ ]:
sample = pd.DataFrame.from_dict({'gre':800,'gpa':4.0,'prestige_2':0,'prestige_3':1,'prestige_4':0},orient = 'index')
sample = sample.T
predictions = lm.predict_proba(sample)
print(predictions)
print(lm.predict(sample))

In [ ]:
sample = pd.DataFrame.from_dict({'gre':800,'gpa':4.0,'prestige_2':0,'prestige_3':0,'prestige_4':1},orient = 'index')
sample = sample.T
predictions = lm.predict_proba(sample)
print(predictions)
print(lm.predict(sample))

Answer: